.about {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 80%;
    max-width: 600px;
    margin: 40px auto;
    padding: 20px;
    background-color: #f8f9fa;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}

.about-content {
    width: 60%;
}

.my-story, .about-title {
    text-align: left;
}

.main-about p {
    text-align: left;
    margin-bottom: 10px;
}

.about-image {
    width: 35%;
    max-width: 300px;
}

.my-story {
    font-size: 15px;
    margin-bottom: 10px;
}

.about-title {
    font-size: 30px;
    margin-bottom: 10px;
    
}